@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: 'Pretendard';
}

.highlightme {
    font-size: 24px;
    color: white;
    font-family: 'Pretendard';
    text-align: center;
    background-color: #282561;
    border-radius: 17px;
}

.nohlme {
    font-size: 22px;
    color: white;
    font-family: 'Pretendard';
    text-align: center;
    padding: 5px 0px 5px 0px;
    background: none;
    background-color: none;
}

.nohlme2 {
    font-size: 22px;
    color: white;
    font-family: 'Pretendard';
    text-align: center;
    padding: 5px 0px 5px 0px;
    background: none;
    background-color: none;
}

#ios {
    padding: 0px 5px;
}

#android {
}


.title-left {
    font-size: 64px;
    width: 60%;    
}

.title-right {
    margin-top: 17%;
    font-size: 64px;
    width: 60%; 
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 350px;
}

.title-left h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-family: "Pretendard";
    font-weight: lighter;
    color: #fff;
}

.title-left h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-family: "Pretendard";
    font-weight: normal;
    color: #fff;
    padding-top: 20px;
}
.title-right h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-family: "Pretendard";
    font-weight: lighter;
    color: #fff;
}

.top-list {
    display: flex;
}

.top-list li {
    padding: 50px;
}



.whole {
    width: 45%;
    margin-top: 8%;
    z-index: 100;
}

.whole2 {
    width: 45%;
    margin-top: 2%;
    z-index: 100;
}

#down {
  position: fixed;
    bottom: 50px;
    border: none;
    outline: none;
}

#navbar li,
button {
  display: inline-block;
  padding: 8px 17px;
  background-color: #ffffff;
  box-shadow: 5px 10px #888888;
  border: 1px solid transparent;
  margin-right: 12px;
  margin-bottom: 12px;
}

button {
  cursor: pointer;
  margin-right: 0;
  margin-bottom: 0;
}
#numberin {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 106px;
    width: 130px;
    text-align: center;
    color: #5751FF;
    padding: 0px;
    margin: 0px;
    border-bottom: 1.5px solid #fff;
    font-weight: 200;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="tel"]{
      width:70%;
      height:100%;
      border-left:1.5px solid #5751FF;
      border-top:1.5px solid #5751FF;
      border-bottom:1.5px solid #5751FF;
      border-radius: 37px 0px 0px 37px;
      display:inline;
      outline:none;
      box-sizing: border-box;
      color:black;
      padding: 20px;
      padding-left: 25px;
      font-size: 22px;
    text-align: center;

    }
input[type=button]#send{
      width: 30%;
      height:100%;
      background-color: #0F0F0F;
      border-right:1.5px solid #5751FF;
      border-top:1.5px solid #5751FF;
      border-bottom:1.5px solid #5751FF;
      border-left: 1.5px solid #5751FF;
      border-radius: 0px 37px 37px 0px;
      background-color: none;
      font-size:1em;
      color:#fff;
      outline:none;
      display:inline;
      box-sizing: border-box;
      padding: 20px;
    margin-left: -10px;
     font-size: 22px;
    -webkit-appearance:none;
}

input[type=button]#survey{
      width: 100%;
      height:100%;
      background-color: #0F0F0F;
      border-right:1.5px solid #5751FF;
      border-top:1.5px solid #5751FF;
      border-bottom:1.5px solid #5751FF;
      border-left: 1.5px solid #5751FF;
      border-radius: 37px;
      background-color: none;
      font-size:1em;
      color:#fff;
      outline:none;
      display:inline;
      box-sizing: border-box;
      padding: 20px;
    margin-left: -10px;
     font-size: 22px;
}

input[type=button]#survey:hover {
    cursor: pointer;
    background-color: #5751FF;
}

input[type=checkbox]#apple {
    padding: 0px 15px;
}

input[type=checkbox]#android {
}

input[type=button].selected {
    background-color: #5751FF;
}

input[type=button]#apple:hover{
    background-color: #5751FF;
}

input[type=button]#apple:focus{
    background-color: #5751FF;
}

input[type=button]#apple:active{
    background-color: #5751FF;
}

input[type=button]#android {
      cursor: pointer;
      width: 50%;
      height:100%;
      background-color: #0F0F0F;
      border-right:1.5px solid #5751FF;
      border-top:1.5px solid #5751FF;
      border-bottom:1.5px solid #5751FF;
      border-left: 1.5px solid #5751FF;
      border-radius: 0px 37px 37px 0px;
      background-color: none;
      color:#fff;
      outline:none;
      display:inline;
      box-sizing: border-box;
      padding: 20px;
     font-size: 22px;
}

input[type=button]#android:hover{
    background-color: #5751FF;
}

input[type=button]#android:focus{
    background-color: #5751FF;
}

input[type=button]#android:active{
    background-color: #5751FF;
}

input[type=checkbox]{
      background-color: #0F0F0F;
      border-radius: 0px 37px 37px 0px;
      background-color: #2C2C2C;
      font-size:1em;
      color:#fff;
      outline:none;
      display:inline;
      margin-left: -10px;
      box-sizing: border-box;
      padding: 20px;
}

#telnum {
    background: none;
    margin: 20px 0px 20px 0px;
    color: white;
}

#send {
    background: none;
    cursor: pointer;
    -webkit-appearance:none;
}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDYiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCA0NiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggb3BhY2l0eT0iMC40IiBkPSJNMSAxTDIzIDIxTDQ1IDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=);
	background-size: contain;
	background-repeat: no-repeat;
    fill: red;
}

.ca3-scroll-down-link {
    display: none;
  cursor:pointer;
	height: 60px;
	width: 60px;
	margin: 0px 0 0 0px;
	line-height: 60px;
	position: absolute;
	bottom: 20px;

	text-align: center;
	font-size: 50px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    color:white;

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

h3 {
    font-size: 
}

#value {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 106px;
    text-align: center;
    color: #5751FF;
    padding: 0px;
    margin: 0px;
    border-bottom: 1.5px solid #fff;
    font-weight: 200;
    width: 150px;
    animation: fade 3s linear forwards;
}

#value2 {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 106px;
    text-align: center;
    color: #5751FF;
    padding: 0px;
    margin: 0px  0px 0px 20px;
    border-bottom: 1.5px solid #fff;
    font-weight: 200;
    width: 150px;
    animation: fade 3s linear forwards;
}

#section2 .btm-text {
    display: none;
    cursor:pointer;
	height: 60px;
	padding: 0 0 0 0px;
	line-height: 60px;
    
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
     -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;
}

#section2 .btm-text h4 {
    font-size: 24px;
    font-weight: 500;
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0%   { opacity: 0;  }
  50%  { opacity: 0;  }
  100% { opacity: 1; }
}

@-webkit-keyframes fadein {
  0%   { opacity: 0;  }
  50%  { opacity: 0;  }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0;  }
  50%  { opacity: 0;  }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0;  }
  50%  { opacity: 0;  }
  100% { opacity: 1; }
}


.logo {
	margin: 0px 0 0 0px;
	line-height: 60px;
	position: absolute;
	top: 50px;
    left: 50px;
	text-align: center;
	font-size: 50px;
	z-index: 100;
}

.imgdiv {
    width: 50%;
    margin: 0 auto;
}

.imgdiv img{
    width: 100%;
}

.buttons img{
    width:30%;
    margin: 0 auto;
    animation: leaves 1.5s ease-in-out infinite alternate;
    -webkit-animation: leaves 1.5s ease-in-out infinite alternate;
    
}

@keyframes leaves {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    }

.later {
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
}

.getinput {
    width: 80%;
    margin: 0 auto;
}

.nohlme input {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 30px;
  background-color: #2C2C2C; 
}

.see {
    color: #C1C1C1;
}

.lefty {
    width: 50%;
    float: left;
    margin-top: 23%;
}

.lefty h3 {
    font-size: 54px;
    color:white;
    text-align: left;
    font-weight: 500;
}

.whole h3 {
    font-size: 48px;
    color:white;
    text-align: center;
    font-weight: lighter;
    line-height: 1.5;
}

.whole2 h3 {
    font-size: 48px;
    color:white;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

.lefty p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    padding-top: 30px;
    color: #C4C4C4;
}

.righty {
    width: 50%;
    float: left;
}

.toge {
    width: 60%;
}

.high {
    background-color: #282561;
    padding: 2px;
    margin:60px 0px 0px 0px;
}

.rest {
    width: 55%;
    margin: 0 auto;
}

.rest2 {
    width: 55%;
    margin: 0 auto;
}

.rest h2 {
    font-size: 80px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 150px;
}
.rest p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
}

.rest2 p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
}

.buttons {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.buttons2 {
    width: 90%;
    margin: 0 auto;
}
.buttons3 {
    width: 90%;
    margin: 0 auto;
}

.slider {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
.slider ul li {
  position: relative;
  height: 100%;

  float: left;
}

.slider ul li img{
  width: 200px;
  height: 200px;
}

/*
#section3 {
  background: url(../../src/Slide-16_9---19.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    z-index: -10;
}*/

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to { 
    opacity: 1;
    visibility: visible;
  }
}
.container {
  position: relative;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
    font-weight: lighter;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 15px;
  width: 15px;
  background-color: #2C2C2C;
}

.container:hover input ~ .checkmark {
  background-color: #5751FF;
}

.container input:checked ~ .checkmark {
  background-color: #5751FF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.checkboxes {
    padding-left: 55px;
}

.checkboxone {
    padding-left: 110px;
}



.highlighted {
    width: 83%;
    margin: 0 auto;
}

.h2t {
    display: flex;align-items: flex-end;padding-left: 480px;
}

.world {
    display: none;
}

.floating-buttons {
    position: fixed;
    width: 40px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 7;

}

.icon-circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.icon-circle i {
    width: 100%;
    height: auto;
    color: white;
    z-index: 11;
    font-size: 20px;
    margin-top: 20px;
}

.icon-circle2 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.icon-circle2 i {
    width: 100%;
    height: auto;
    color: white;
    z-index: 11;
    font-size: 16px;
    margin-top: 20px;
}
