/*
Orange color: #e67e22

*/
@font-face {
  font-family: 'pluviophile';
  src: url('TheQueenone-Regular.eot'); /* IE9 Compat Modes */
  src: url('TheQueenone-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('TheQueenone-Regular.woff') format('woff'), /* Modern Browsers */
       url('TheQueenone-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('TheQueenone-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
}

span {
    font-size: 14px;
    padding: 5px 0px;
}

.orderchoice span {
    font-size: 17px;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    margin: 0 0 120px; padding: 25px;
}


.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row-main {
    max-width: 1140px;
    margin: 0 auto;
    z-index: 5;
    padding-top: 27px;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
    z-index: 5;
}


section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 120%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.main__section--4 h3 {
    max-width: 1140px;
    text-align: left;
    margin: 20px auto;
}

.world_row h3{
    font-size: 22px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #808284;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 90%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #808284;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #333;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #333;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #333;
    border-bottom: 1px solid #333;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=button] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=button] {
    background-color: #808284;
    border: 1px solid #808284;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=button]:hover,
input[type=button]:active {
    background-color: #333;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 70px;
    width: auto;
    float: left;
    margin-top: 40px;
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #333;
}

.active_nav {
    padding-bottom: 8px;
    border-bottom: 2px solid #333;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* ----------------------------------------------- */
/* MEALS */
/* ----------------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 50%;
    margin: 5% auto 0% auto;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.dozy-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}



.dozy-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.dozy-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}



/* ----------------------------------------------- */
/* HOW IT WORKS SECTION */
/* ----------------------------------------------- */

.section-steps {
    background-color: #;
}

.steps-box {
    margin-top: 30px;
}

.step-box img {
    width: 100%;
}


.steps-box:first-child {
    text-align: center;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 100%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.floating-dozy img {
    width: 100%;
}

.floating-dozy img {
    animation-name: floating; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
	}

.imgrow img{
    width: 100%;
    height: auto;
}

.row img {
    width: 100%;
}

.rowim img {
    width: 90%;
    margin: 0 auto;
}

.logolol img{
    width: 200px;
    height: auto;
}

@keyframes floating {
    0%{margin-top: 0%;}
    50%{margin-top: 4%;}
    100%{margin-top: 0%;}
}


/* ----------------------------------------------- */
/* SIGN UP */
/* ----------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.order-form {
    width: 85%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=file] {
    font-size: 16px;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    overflow: hidden;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.nav a {
    border: none;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.world_row p {
    font-size: 16px;
    text-align: center;
}





/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}



.floating-dozy {
    width: 25%;
    margin: 200px auto;
    position: relative;
    z-index: 1;
}

#layer {
    position: absolute;
    width: 100%;height:90%;z-index: 2;top:120px;bottom:0px;
}

.all {

}

#text {
    text-align: center;
    font-size: 70px;
    margin-bottom: 2%;
    font-family: pluviophile;
    font-weight: ;
}

.about {
    margin-top: 4%;
    width: 70%;
}

.mid {
    text-align: center;
}

.scroll-indicator {
	position:fixed;
	right:50px;
	top:0;
	bottom:50px;
	width:1px;
}
.scroll-indicator:before {
	content:"";
	position:fixed;
	right:50px;
	top:0;
	bottom:0;
	width:1px;
	background:#0FF;
    height: 50%;
}
.indicator {
	top:0;
	left:-5px;
	position:absolute;
	width:10px;
	height:50px;
	border-radius:5px;
	background:red;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.indicator span {
	position:absolute;
	padding-right:10px;
	transform:translate(-100%, 50%);
}
.spacing {
    margin-top: 10%;
}

.imgrow {
    width: 70%;
    margin: 0 auto;
}

.imgrow2 {
    width: 100%;
    margin: 0 auto;
}

.world_row {
    width: 50%;
    margin:0 auto;
    margin-top: 2%;
}

.world_row2 {
    width: 90%;
    margin:0 auto;
    margin-top: 5%;
}

.wadiz {
    background-color: #ffcedd;
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.logolol {
    min-height: 100%;margin-bottom: -50px;
}

.foot {
    margin-top: 30px;
}

.title {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.as-content {
    font-size: 16px;
    padding-bottom: 10px;
}

.send {
    padding-top: 20px;
    text-align: center;
}

.active {
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
}

.res {
    font-weight: 1000;
    color: #6f4698;
}



.hoveri {
  position: relative;
}

.imgn {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  cursor: pointer;
}

.hoveri:hover .overlay {
  opacity: 0.7;
}

.img-title {
  color: white;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
}

.img-icon {
  color: white;
  font-size: 25px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  z-index: 5;
}

.img-icon i{
  color: white;
}

.img-icon:hover {
   color: black;
}

#downloadshort {
    
}

.wallp {
    margin-bottom: 5%;
}

.wallp-text {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.down {
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;;
    box-shadow: 1px 1px 1px 1px gray;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: #6f4698;
}

.cent {
    text-align: center;
}



.copyright {
    font-size: 12px;
    text-align: left;
}

.show {
    font-size: 12px;
    float: right;
}

.twoinarow {
    margin-bottom: 5%;
}



.buttonse {
    display: block;
    background-color: ;
    font-size: 14px;
    padding: 10px 24px;
    cursor: pointer;
    text-align: center;
    display: none;
    height: 100px;
}

.buttonse button {
  color: white; /* White text */
  /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
}

.download {
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;;
    box-shadow: 1px 1px 1px 1px gray;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: #6f4698;
    margin-top: 29px;
    margin-bottom: 28.5px;
}

.down-top {
    margin: 0 auto;
    color: #fff;
    background: none;
    border: none;
    display: block;
    background-color: #6f4698;
    font-size: 14px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.down-mid {
    margin: 0 auto;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #6f4698;
    font-size: 14px;
    padding: 5px 20px;width: 200px;
}


.down-bot {
    margin: 0 auto;
    color: #fff;
    background: none;
    border: none;
    background-color: #6f4698;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 0px 0px 10px 10px;width: 200px;
}

#secondText {
    font-size: 10px;
}

.gotodozy {
    position: absolute;
    left: 0;
    top: 150px;
}

.gotodozy a{
    border: none;
}

.gotoimg a {
    border: none;
}

.gotoimg {
    position: absolute;
    left: 0;
    top: 300px;
}

@keyframes goto {
    0%{margin-right: -200px;}
    100%{margin-right: 0px;}
}

.gotodozy img {
    width: 300px;
    animation-name: goto; 
    animation-duration: 3s;
}

.gotoimg img {
    width: 300px;
    animation-name: goto; 
    animation-duration: 3s;
}

.space {
    margin-top: 10%;
}

.ProjectPage__ProjectContentsMainColumn-f3cisk-2 {
    width: 70%;
    margin: 0 auto;
}

.ProjectPage__ProjectContentsMainColumn-f3cisk-2 img {
    padding: 10px 0px;
}

.detailpage {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}

.tongpan h3 {
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.tongpan h4 {
    font-size: 15px;
    text-align: center;
    color: black;
    padding: 0;
}


.tongpan span {
    font-size: 20px;
    text-align: center;
    color: #1B1F5B;
}

.float{
	position:fixed;
	width:130px;
	height:45px;
	top:150px;
	right:40px;
	background-color:#1B1F5B;
    color: white;
	border-radius:30px;
	text-align:center;
    font-size: 20px;
}

.checko input{
	width:130px;
	height:50px;
	background-color:#1B1F5B;
    color: white;
	border-radius:30px;
	text-align:center;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
}



.floating{
	position:fixed;
	width:350px;
	height:85%;
	top:150px;
	right:0px;
	background-color:#fff;
    color: black;
	text-align:center;
    font-size: 17px;
    border: 2px solid #1B1F5B;
    padding-top: 50px;
    padding-bottom: 50px;
}

button {
    border: none;
}

.float a:link, a:visited{
    color: white;
}

.float a:hover{
    color: white;
}

table.orderchoice {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
    text-align: left;
}
table.orderchoice2 {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
    text-align: left;
}

table.orderchoice3 {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
    text-align: left;
    font-size: 17px;
    margin-top: 50px;
}

table.orderchoice2 td,th {
    padding: 5px 0px;
}

table.orderchoice th {
    padding: 10px;
}


table.orderchoice td {
  padding: 10px;
}

table.orderchoice2 td {
  padding: 10px;
}

.orderchoice input[type=number] {
    width: 50px;
}

.orderchoice2 input[type=text] {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


.btmborder {
    border-bottom: 1px solid #333;
    padding: 5px 0px;
    font-size: 17px;
}



.topspace {
    padding-top: 40px;
}

.topspacey {
    margin-top: 40px;
}


.lefttab {
    text-align: left;
    padding-left: 10px;
}

.righttab {
    text-align: right;
}

#orderpage {
    display: none;
    z-index: 5;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
}

#popup.hide {
  display: none;
}

#popup.has-filter {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup .content {
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        text-align: center;
}
.checkout {
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

.checkout h5 {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.tongpan {
    margin-top: 20px;
}

.smallbt {
  cursor: pointer;
  margin-top: 15px;
    padding: 5px;
}
