
#gameScreen {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 9999;
    background-color: bisque;
    display: none;
}

#startGame {
    width: 100%;
    color:black;
    background-color: aqua;
    border: none;
    margin: 0px auto 20px auto;
}

#beforeGame {
    width: 80%;
    height: 50%;
    background-color: antiquewhite;
    margin: 30px auto;
}

.inputBut {
    width:70%;
    margin:0 auto;
}

.imgBox {
    width:70%;
    margin: 0px auto;
    padding: 20px 0px;
}

.imgBox img {
    width:100%;
}

#gameImg {
    width:100%;
    height:100%;
}

#gameImg img{
    width:100%;
    height: auto;
}

#gameBtns {
    width: 70%;
    height: 29%;
    background-color: #d5aea7;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -0%);
    text-align: center;
}

#gameIcons {
    width:100%;
}

.back {
    float: left;
    margin: 30px 10px 30px 10px;
}

.sound {
    float:right;
    margin: 30px 10px 30px 10px;
}

#gameBtns .first-button {
    width: 80%;
    margin: 15px auto 0px auto;
    padding: 5px;
}

#gameBtns .second-button {
    width: 80%;
    margin: 10px auto 0px auto;
    padding: 5px;
}

#gameBtns .final-button {
     width: 40%;
    margin: 20px auto 0px auto;
    padding: 10px;
}
